.Titlecard_prdiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.Titlecard_h2section {
  margin: 0.4rem 0rem;
  font-weight: bold;
  color: #6b7280;
  font-size: 1.5rem;
}

.Titlecard_spansection {
  border: 0.1px solid #d1d1d1;
  background-color: #c4161c;
  width: 97%;
  
}

.Titlecard_secdiv {
  width: 97%;
  display: flex;
  justify-content: flex-start;
}
